@page "/thankyou"
@model thankyouModel
@{
    ViewData["Title"] = "Thank You";
}

<div class="container text-center mt-5">
    <h1>Thank You!</h1>
    <p>Your responses have been recorded.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
</div>